.card__image.card__image_1 {
    background-image: url('../../../../images/image1-m.png');
}

@media screen and (max-width: 768px) {
    .card__image.card__image_1 {
        background-image: url('../../../../images/image1-L.jpg');
    }
}

@media screen and (max-width: 400px) {
    .card__image.card__image_1 {
        background-image: url('../../../../images/image1-S.png');
    }
}